<div class="columns">
  <div class="column is-half">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input" />
      </div>
    </div>
    <div class="field">
      <label class="label">Mobile</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input" />
      </div>
    </div>
    <div class="field">
      <label class="label">Birthday</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input" />
      </div>
    </div>
  </div>
</div>
<br />
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Birthday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>0912345678</td>
      <td>1990/01/01</td>
    </tr>
    <tr>
      <td>Alice</td>
      <td>0987654321</td>
      <td>1990/02/02</td>
    </tr>
    <tr>
      <td>Bob</td>
      <td>0123456789</td>
      <td>1990/03/03</td>
    </tr>
  </tbody>
</table>
